# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Environment
.env
.env.*
!.env.example
.env*.local

# TypeScript
*.tsbuildinfo

# IDE
.vscode/*.log

# Build / cache
.cache/
.parcel-cache/
coverage/
.nyc_output/